.trailer {

    position: relative;

    display: inline-block;

    background-color: darkgray !important;

    box-shadow: 2px 4px 1px 1px;

    cursor: move;

    margin: auto;

    margin-bottom: 10px;

    text-align: center;

    font-size: 25pt; /* needed for cloned object */

    width: 120px;

    height: 35px;

    line-height: 35px;

    /* round corners */

    border-radius: 4px; /* Opera, Chrome */

    -moz-border-radius: 4px; /* FF */

}

.trailer .tooltiptext {
   visibility: hidden;
   font-size: 11px;
   font-weight: bold;
   width: 120px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
}

.trailer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.trailer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* define main container (lime) */

div.table-container {

    background: #eee;

    border: 1px solid black;

    width: 100%;

    height: 100%;

    padding: 10px;

}



 /* table styles */

div.table-container table {

     background-color: #eee;

     /* border-collapse: collapse; */

     /* margin: 10px; */

     /* width: 100%; */

     height: 100%;

 }

#table1 {
   border-collapse: collapse;
   width: 100%;
}

#table2 {

}


/* left table container (red) */

#left {

    /* border: 1px solid red; */

    width: 150px;

    height: 100%;

    float: left;

    margin-right: 13px;

}



/* right table container (blue) */

#right {

    /* border: 1px solid SteelBlue; */

    width: auto;

    height: 100%;

    padding-left: auto;

    padding-right: 0px;

    /* align div to the left */

    margin-right: auto;

    overflow: hidden;

}



/* left table cells */

#table1 td {

    border-right-style: none !important;

    border: 1px black solid;

    text-align: center;

    font-size: 10pt;

    height: 50px;

}



/* right table cells */

#table2 td {

    border: 1px black solid;

    width: 130px;

    height: 50px;

    text-align: center;

    font-size: 10pt;

    padding: 2px;

}



/* green objects */

.green {

    border: 2px solid #499B33;

}



/* orange objects */

.orange {

    border: 2px solid #BF6A30;

}



/* red objects */

.red {

    border: 2px solid #FF0000;

}



/* grey objects */

.grey {

    border: 2px solid #808080;

}


/* set height for right container TD (contains DIV elements) */

.rightContainer {

    padding-top: 7px;

    vertical-align: top;

    height: 270px;

}
