div.dragdrop-container {

    background: #eee;

    border: 1px solid black;

    width: 100%;

    height: 100%;

    position: relative;

}

.dragdrop-top {
      position: absolute;
      width: 100%;
      height: 30%;
}

.dragdrop-bottom {
      position: absolute;
      top: 30%;
      width: 100%;
      height: 70%;
      /* overflow: hidden; */
}

.tableTop {
     bottom: 0px;
     position: absolute;
     table-layout: fixed;
     width: 100px;
}

.emptyLot {
     position: absolute;
     width: 60%;
     height: 100%;
     border-right: 1px solid black;
     border-top: 1px solid black;
}

.tableBottom {
     position: absolute;
     width: 40%;
     height: 100%;
     left: 60%;
}

.tableTop .trailer {
    width: 50px;
    height: inherit;
}

.tableTop .topLot {
   -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

.trailer {

    position: relative;

    display: inline-block;

    background-color: darkgray !important;

    box-shadow: 2px 4px 1px 1px;

    cursor: move;

    margin: auto;

    margin-bottom: 10px;

    text-align: center;

    font-size: 25pt; /* needed for cloned object */

    width: 120px;

    height: 35px;

    line-height: 35px;

    /* round corners */

    border-radius: 4px; /* Opera, Chrome */

    -moz-border-radius: 4px; /* FF */

}

.trailer .trailerTypeStatus {
   position: absolute;
   left: 5px;
}


.trailer .trailerServiceStatus {
   position: absolute;
   left: 45px;
}


.trailer .trailerStatus {
   position: absolute;
   left: 80px;
}

.trailer .tooltiptext {
   visibility: hidden;
   font-size: 11px;
   font-weight: bold;
   width: 120px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
}

.trailer .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.trailer .tooltiptext.rotated {
   transform: rotate(-90deg);
}

.trailer .tooltiptext.rotated::after {
   top: 50%;
   left: -10%;
   right: 100%;
   border-color: transparent #555 transparent transparent;
}

.trailer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

div.table-container table {

     background-color: #eee;

     /* border-collapse: collapse; */

     /* margin: 10px; */

     /* width: 100%; */

     height: 100%;

 }

.table1 {
   border-collapse: collapse;
   width: 100%;
}

.table2 {

}

#left {

    /* border: 1px solid red; */

    width: 150px;

    height: 100%;

    float: left;

    margin-right: 13px;

}

#right {

    /* border: 1px solid SteelBlue; */

    width: auto;

    height: 100%;

    padding-left: auto;

    padding-right: 0px;

    /* align div to the left */

    margin-right: auto;

    /* overflow: hidden; */

}

.tableTop td {

    border-top-style: none !important;

    border-bottom-style: none !important;

    border: 1px black solid;

    text-align: center;

    /* font-size: 10pt; */

    width: 60px;

    height: 120px;

}

.table1 td {

    border-left-style: none !important;

    border-right-style: none !important;

    border: 1px black solid;

    text-align: center;

    font-size: 10pt;

    width: 130px;

    height: 50px;

}

.table2 td {

    border: 1px black solid;

    width: 130px;

    height: 50px;

    text-align: center;

    font-size: 10pt;

    padding: 2px;

}

.hiddenCell {
  visibility: hidden;
}
